//
//  Staging.xcconfig
//  YoutubeApp
//
//  Created by Filip Jandrijevic on 2019-01-04.
//  Copyright © 2019 Guarana Technologies Inc. All rights reserved.
//

// Configuration settings file format documentation can be found at:
// https://help.apple.com/xcode/#/dev745c5c974

#include "Pods/Target Support Files/Pods-YoutubeApp/Pods-YoutubeApp.debug (staging).xcconfig"
#include "Pods/Target Support Files/Pods-YoutubeApp/Pods-YoutubeApp.release (staging).xcconfig"

// App Settings
APP_NAME = YoutubeApp
APP_BUNDLE_ID = com.kayonakao.YoutubeApp

GOOGLE_CLIENT_ID = 897674241627-oplcocaaou0fgcd946j3pt3v5m4a5r06.apps.googleusercontent.com
GOOGLE_API_KEY = AIzaSyCq-PW9VdNTpB6WUDVJ8Z_ox0h3AIWV17Q
